<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>F4PGA - the GCC of FPGAs</title>

  <link rel="icon" href="assets/img/favicon.svg" type="image/svg+xml" />
  <!-- Glide.js -->
  <link rel="stylesheet" href="assets/css/glide.core.min.css" />
  <link rel="stylesheet" href="assets/css/glide.theme.min.css" />
  <!-- glightbox -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
  <!-- Github Feed -->
  <link rel="stylesheet" href="assets/css/github-activity.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css" />

  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>

<!--
  <div class="gsoc-banner">
    <span class="gsoc-banner__caption">F4PGA is participating in </span>
    <a href="https://summerofcode.withgoogle.com/organizations/6224851964002304/">
      <img class="gsoc-banner__logo" src="assets/img/gsoc-logo.svg" alt="Google's Summer of Code website" />
    </a>
  </div>
-->

  <nav class="nav">
    <div class="nav__wrapper">
      <a href="index.html">
        <img class="nav__logo" src="assets/img/f4pga.svg" alt="F4PGA" />
      </a>

      <div class="nav__toggle">
        <button class="hamburger hamburger--squeeze" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
      <ul class="nav__links">
        <li><a href="#hero" class="current-page">Home</a></li>
        <li><a href="https://f4pga.readthedocs.io">Documentation</a></li>
        <li><a href="https://f4pga.readthedocs.io/en/latest/getting-started.html">Start using</a></li>
        <li><a href="https://f4pga.readthedocs.io/en/latest/community.html">Contribute now</a></li>
      </ul>
    </div>
  </nav>

  <section class="row hero" id="hero">
    <div class="hero__container">
    <div class="hero_left">
      <h1 class="hero__header">
        <span class="underline">Innovate</span> by reaching for the open source FPGA tooling
      </h1>
      <h4 class="hero__subheader">
        F4PGA is a fully open source toolchain for the development of FPGAs
        of multiple vendors. Currently, it targets the Xilinx 7-Series,
        Lattice iCE40, Lattice ECP5 FPGAs, QuickLogic EOS S3 and is gradually
        being expanded to provide a comprehensive end-to-end FPGA synthesis flow.
      </h4>
      <div class="hero__btns">
        <a href="https://f4pga.readthedocs.io/en/latest/getting-started.html">
          <div class="hero__btn">
            Getting Started
          </div>
        </a>
        <a href="https://f4pga.readthedocs.io/en/latest/community.html">
          <div class="hero__btn">
            Help contribute
          </div>
        </a>
      </div>
    </div>
    <div class="hero_right">
    <img class="hero__image" src="assets/img/hero-image.svg" />
  </div>
</div>
  </section>

  <section class="row news" id="news">
    <h2 class="row__header talks__header">
        <span class="underline">What's new</span>
    </h2>
    <div class="talks">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {{#each talks}}
            <li class="glide__slide talks__talk">
              <div class="talks__img_container">
                <a href="{{url}}" class="glightbox2">
                  <img class="talks__img" src="assets/img/talks/{{image}}" />
                  <img class="talks__playbtn" src="assets/img/play_btn.svg" />
                </a>
              </div>
              <h4>{{title}}</h4>
              <p>{{details}}</p>
            </li>
            {{/each}}
          </ul>
        </div>

      <div class="glide__bullets" data-glide-el="controls[nav]">
        {{#each talks}}
        <button class="glide__bullet" data-glide-dir="={{@index}}"></button>
        {{/each}}
      </div>
      </div>
    </div>

    <div class="news__container">
      <div class="news__twitter">
        <div class="news__header">
          <div class="news__header_container">
            <img src="assets/img/news_twitter.svg" />
            <a href="https://twitter.com/f4pga">F4PGA Twitter</a>
          </div>
        </div>
        <a class="twitter-timeline" href="https://twitter.com/f4pga/lists/1494300900961177606"
          data-height="500"
          data-tweet-limit="3"
          data-chrome="noscrollbar nofooter noheader">
          Tweets by F4PGA
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="news__github">
          <div class="news__header">
            <div class="news__header_container">
              <img src="assets/img/news_github.svg" />
              <a href="https://github.com/F4PGA/">F4PGA GitHub</a>
            </div>
          </div>
          <div id="feed"></div>
      </div>
    </div>
 </section>

  <section class="row about" id="about">
    <h2 class="row__header about__header">
      <span class="underline">Why F4PGA?</span>
    </h2>
    <div class="about__content">
      <p class="about__paragraph">
        F4PGA aims to push FPGAs towards more widespread adoption by
        optimising and automating FPGA development workflows with a set of
        pluggable open source tools.
      </p>
      <p>
        Its goal is to become a complete FOSS toolchain that is:
      </p>
      </div>
    </div>
    <div class="about__icon_container">

      <div class="about__icon">
        <img src="assets/img/icons_os_free.svg" alt="" />
        <h4> Free &amp; Open Source </h4>
      </div>

      <div class="about__icon">
        <img src="assets/img/icons_multi_platform.svg" alt="" />
        <h4> Multi-platform </h4>
      </div>

      <div class="about__icon">
        <img src="assets/img/icons_vendor_neutral.svg" alt="" />
        <h4> Vendor-neutral </h4>
      </div>

      <div class="about__icon">
        <img src="assets/img/icons_interchangeable_tools.svg" alt="" />
        <h4> Interchangeable <br /> tool suite </h4>
      </div>

      <div class="about__icon">
        <img src="assets/img/icons_community.svg" alt="" />
        <h4> Growing <br /> community </h4>
      </div>

      <div class="about__icon">
        <img src="assets/img/icons_learn.svg" alt="" />
        <h4> Look inside <br /> and improve </h4>
      </div>

    </div>
  </section>

  <section class="row diagrams">
    <h2 class="row__header diagrams__header">
      <span class="underline">How it works</span>
    </h2>
    <p class="diagrams__paragraph_intro">
      To understand how F4PGA works, it is best to start with an overview of the general <br />
      EDA tooling ecosystem and then proceed to see what the F4PGA project consists of. <br />
      See: <a href="https://f4pga.readthedocs.io/en/latest/how.html">f4pga.readthedocs.io: How it works</a>.
    </p>
  </section>

  <section class="row boards" id="boards">
    <h2 class="row__header boards__header">
        <span class="underline">Supported boards</span>
    </h2>

    <div class="boards__container boards__showcase">
        {{#each boards}}

        {{#lte @index 2}}
        <a class="boards__anchor" href="{{url}}" target="_blank">
        {{/lte}}

        {{#gt @index 2}}
        <a class="boards__anchor boards__showcase-d-none boards__showcase-hidden boards__showcase-delayed" href="{{url}}" target="_blank">
        {{/gt}}

            <li class="boards__board">
                <img class="boards__img" src="assets/img/boards/{{image}}" alt="{{{name}}}" />
                <span class="boards__name">{{{name}}}</span>
                <span class="boards__fpga">{{{FPGA}}}</span>
            </li>
        </a>
        {{/each}}
    </div>
  </section>

  <footer class="footer">
    <div class="footer__wrapper">
        <span class="footer__copy">
          © 2022 F4PGA
        </span>

        <div class="chips__alliance">
          <a  href="https://chipsalliance.com">
          <img src="assets/img/chips-alliance.svg" />
          </a>
        </div>

      <span class="footer__social">
        <a href="https://github.com/F4PGA/" target="_blank">
          <img class="social__icon" src="assets/img/github.svg" alt="GitHub" />
        </a>
      </span>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
  <script src="assets/js/github-activity.js"></script>
  <script src="assets/js/script.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>
